In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
238,tt2752758,7000000,36433975,Devil's Due,Allison Miller|Zach Gilford|Sam Anderson|Rober...,Matt Bettinelli-Olpin|Tyler Gillett,The Devil Always Gets His Due,An unexpected pregnancy takes a terrifying tur...,89,Horror,Twentieth Century Fox Film Corporation|Davis E...,1/8/2014,4.5,2014
865,tt0268380,59000000,383257136,Ice Age,Ray Romano|John Leguizamo|Denis Leary|Goran Vi...,Chris Wedge|Carlos Saldanha,They came. They thawed. They conquered.,"With the impending ice age almost upon them, a...",81,Animation|Comedy|Family|Adventure,Twentieth Century Fox Film Corporation|Blue Sk...,3/10/2002,6.9,2002
729,tt0945513,32000000,147332697,Source Code,Jake Gyllenhaal|Michelle Monaghan|Vera Farmiga...,Duncan Jones,Make Every Second Count,Decorated soldier Captain Colter Stevens wakes...,93,Thriller|Science Fiction|Mystery,The Mark Gordon Company|Vendome Pictures,3/30/2011,7.0,2011
857,tt0480239,15000000,4627375,Atlas Shrugged Part I,Taylor Schilling|Paul Johansson|Michael O'Keef...,Paul Johansson,Who is John Galt?,"A powerful railroad executive, Dagny Taggart, ...",97,Drama|Thriller|Science Fiction|Mystery,Atlas Productions,4/14/2011,4.8,2011
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']

data['month_of_release'] = pd.to_datetime(data['release_date'], infer_datetime_format=True).dt.strftime('%B')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'#+

In [6]:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
data.sort_values(['budget'], ascending=False).head(1)['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'#+

In [9]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [10]:
data.sort_values(['runtime'], ascending=False).head(1)['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'#+

In [12]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2

In [13]:
data.sort_values(['runtime'], ascending=True).head(1)['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110'#+

In [15]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107'#+

In [17]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = 'Avatar (tt0499549)'#+

In [19]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 2

In [20]:
data.sort_values('profit', ascending=False)[['original_title', 'profit']].head(1)['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger (tt1210819)'#+

In [22]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [23]:
data.sort_values('profit', ascending=True)[['original_title', 'profit']].head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = '1478'#+

In [25]:
data[data.revenue > data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = 'The Dark Knight (tt0468569)'#+

In [27]:
data[(data['release_year'] == 2008)].sort_values('revenue', ascending=False).head(1)['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = 'The Lone Ranger (tt1210819)'#+

In [29]:
data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].sort_values('profit').head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [30]:
answers['11'] = 'Drama'#+

In [31]:
all_values_genres = []
for values in data['genres']:
    values_list = values.split('|')
    for value in values_list:
        all_values_genres.append(value)
genres = pd.Series(all_values_genres)
genres.value_counts().head(1)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'#+

In [33]:
profitable_movies = data[data.profit > 0]
all_values_genres = []
for values in profitable_movies['genres']:
    values_list = values.split('|')
    for value in values_list:
        all_values_genres.append(value)
genres = pd.Series(all_values_genres)
genres.value_counts().head(1)

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = 'Peter Jackson' #+

In [35]:
all_values_director = []
for values in data['director']:
    values_list = values.split('|')
    for value in values_list:
        all_values_director.append(value)
directors = pd.Series(all_values_director)
directors = pd.DataFrame(directors.unique())

index = 0
counter = 0
list_revenue = []

for director in directors[0]:
    for value in  data['director']:
        if director in value:
            counter += data.revenue[index]
        index += 1
    list_revenue.append(counter)
    index =0 
    counter = 0
    
directors[1] = list_revenue
directors[directors[1] == directors[1].max()]

                 0           1
128  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Robert Rodriguez'#+

In [37]:
temp_df = data[data['genres'].str.contains('Action')]

all_values_director = []
for values in temp_df['director']:
    values_list = values.split('|')
    for value in values_list:
        all_values_director.append(value)
directors = pd.Series(all_values_director)
directors = pd.DataFrame(directors.unique())

counter = 0
list_revenue = []

for director in directors[0]:
    for value in  temp_df['director']:
        if director in value:
            counter += 1
        index += 1
    list_revenue.append(counter)
    counter = 0
    
directors[1] = list_revenue
directors[directors[1] == directors[1].max()]

                    0  1
123  Robert Rodriguez  9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth'#+

In [39]:
# не сама
temp_data = data[data['release_year'] == 2012]
actors_and_profit_counter = Counter()
for i in range(len(temp_data)):
    temp_list = temp_data.iloc[i]['cast'].split('|')
    for actor in temp_list:
        actors_and_profit_counter[actor] += temp_data.iloc[i]['revenue']

actors_and_profit_counter.most_common()[0]

('Chris Hemsworth', 2027450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'#+

In [41]:
high_budget = data[data.budget > data.budget.mean()]
all_values_cast = []
for values in high_budget['cast']:
    values_list = values.split('|')
    for value in values_list:
        all_values_cast.append(value)
actors = pd.Series(all_values_cast)
actors.value_counts().head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action' #+

In [45]:
temp_df = data[data['cast'].str.contains('Nicolas Cage')]
temp_list = [i.split('|') for i in temp_df['genres']]

def genres (list_of_lists):
    result=[]
    for lst in list_of_lists:
        result.extend(lst)
    return result

temp_counter=Counter(genres(temp_list))
temp_counter.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'#+

In [47]:
company = 'Paramount Pictures'

index = 0
counter = 0
list_profit = []

for value in  data['production_companies']:
    if company in value:
        counter = data.profit[index]
        list_profit.append(counter)
    index += 1
    counter = 0
    
list_profit = pd.Series(list_profit)
unprofitable = list_profit.min()

data[data.profit == unprofitable].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
answers['19'] = '2015'#+

In [49]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:
answers['20'] = '2014'#+

In [51]:
temp_df = data[data['production_companies'].str.contains('Warner Bros')]
df_group = temp_df.groupby('release_year')['profit'].sum().sort_values(ascending=False)
df_group.head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
answers['21'] = 'Сентябрь'#+

In [53]:
temp_group = data.groupby('month_of_release')['profit'].count().sort_values(ascending=False)
temp_group.head(1)

month_of_release
September    227
Name: profit, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [54]:
answers['22'] = '450'#+

In [55]:
temp_group['June'] + temp_group['July'] + temp_group['August']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = 'Peter Jackson'#+

In [57]:
list_winter = ['December', 'January', 'February']
director_in_winter_counter = Counter()
for i in range(len(data)):
    if (data.iloc[i]['month_of_release'] in list_winter):
        temp_list = data.iloc[i]['director'].split('|')
        for director in temp_list:
            director_in_winter_counter[director] += 1
    else:
         continue

director_in_winter_counter.most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers['24'] = 'Four By Two Productions'

In [59]:
companies_and_sumOfLen_counter, companies_and_len_counter = Counter(), Counter()
set_of_companies = set()
for i in range(len(data)):
    temp_list = data.iloc[i]['production_companies'].split('|')
    for company in temp_list:
         # сложим длины всех названий и потом разделим на кол-во названий по киностудиям 
        companies_and_sumOfLen_counter[company] += len(data.iloc[i]['original_title'])
        companies_and_len_counter[company] += 1
        set_of_companies.add(company)

company_and_meanOfLen_list = []
for company in list(set_of_companies):
    temp = companies_and_sumOfLen_counter[company]/companies_and_len_counter[company]
    company_and_meanOfLen_list.append([company,temp])

company_and_meanOfLen_list.sort(key=lambda i: i[1], reverse=True)

company_and_meanOfLen_list[0]

['Four By Two Productions', 83.0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [67]:
answers['25'] = 'Midnight Picture Show'#+

In [68]:
companies_and_sumOfLen_counter, companies_and_len_counter = Counter(), Counter()
set_of_companies = set()
for i in range(len(data)):
    temp_list = data.iloc[i]['production_companies'].split('|')
    for company in temp_list:
        # сложим длины всех названий и потом разделим на кол-во названий по киностудиям 
        companies_and_sumOfLen_counter[company] += len(data.iloc[i]['overview'].split())
        companies_and_len_counter[company] += 1
         
        set_of_companies.add(company)

company_and_meanOfLen_list = []
for company in list(set_of_companies):
    temp = companies_and_sumOfLen_counter[company]/companies_and_len_counter[company]
    company_and_meanOfLen_list.append([company,temp])
# полученный вложенный список отсортируем по среднему
company_and_meanOfLen_list.sort(key=lambda i: i[1], reverse=True)

company_and_meanOfLen_list[0]

['Midnight Picture Show', 175.0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'#

In [62]:
#не сама
persent_limit = data['vote_average'].quantile(0.99)

data.loc[data['vote_average']>persent_limit][['original_title','vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [65]:
actors_and_actor_counter = Counter()
for i in range(len(data)):
    temp_list = data.iloc[i]['cast'].split('|')
    for actor1 in temp_list:
        new_list = temp_list.copy()
        new_list.remove(actor1)
        for actor2 in new_list:
            actors_and_actor_counter[(actor1, actor2)] += 1

actors_and_actor_counter.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [69]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '25': 'Midnight Picture Show'}

In [70]:
# и убедиться что ни чего не пропустил)
len(answers)

27